body {
    background-image: url(halloween.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: center;
}
h1 {
    font-family: 'Arvo', serif;
    color: #D1512D;
    font-size: 45px;
}
.newHeading {
    font-family: 'Arvo', serif;
    color: #D1512D;
    font-size: 45px;
}
.countdown-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    height: 100vh;
}
.round-container {
    height: 180px;
    width: 180px;
    border-radius: 99px;
    background-color: rgba(0,0,0,0.3);
    border: 5px solid rgba(245, 82, 18, 0.3);
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.count {
    text-transform: uppercase;
    color: #E04D01;
    font-size: 20px;
    font-family: 'Arvo', serif;
    margin-top: 0;
}
.days, .hours, .minutes, .seconds {
    color: cornsilk;
    font-size: 37px;
    font-family: 'Arvo', serif;
    margin-bottom: 0;
    margin-top: 50px;
}
.button {
    display: flex;
    justify-content: center;
    border: none;
}
#playButton {
    background-color: black;
}

@media all and (max-width: 800px) {
    h1 {
        margin-top: 70px;
    }
}
@media all and (max-width: 600px) {
    h1 {
        font-size: 27px;
    }
}
@media all and (max-width: 500px) {
    h1 {
        font-size: 23px;
    }
    .countdown-container {
        height: auto;
    }
}
@media all and (max-width: 400px) {
    h1 {
        font-size: 20px;
    }
}
@media all and (max-width: 330px) {
    h1 {
        font-size: 28px;
        text-align: center;
    }
}
